script(src="../bower_components/socket.io-client/socket.io.js ")
script(src='../bower_components/lodash/lodash.min.js')
script(src='../bower_components/jquery/dist/jquery.min.js')
script(src='../bower_components/angular/angular.min.js')
script(src='../bower_components/angular-ui-router/release/angular-ui-router.min.js')
script(src='../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
script(src="../bower_components/angular-socket-io/socket.js ")
script(src="../bower_components/svg.js/dist/svg.min.js")
script(src="../bower_components/svg.draggable.js/dist/svg.draggable.min.js")
script(src="../bower_components/svg.math.js/svg.math.min.js")
script(src="../bower_components/svg.easing.js/svg.easing.min.js")
script(src='../js/bootstrap.min.js')
script(src='../js/app.js')
script(src='../js/navbarCtrl.js')
script(src='../js/ctrls.js')
script(src='../js/services.js')
