extends _layout
block title
 title="My iPresence template"
block styles
 link(href="css/styles.css" rel="stylesheet" type="text/css")
block head
// include parts/_head
block navbar
 include _navbar
block main
 include _main
block scripts
 include _scripts
